.landing-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  background-color: #403f3f;
}

.logo-landing img {
  width: 150px;
  height: auto;
}

.logo-landing h1 {
  margin-top: 10px;
  font-size: 2.5rem;
  color: #ffce54;
}

.landing-container-form {
  margin-top: 20px;
}

.landing-container-form label {
  display: block;
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.landing-container-form input {
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 20px;
  width: 300px;
  text-align: center;
  outline: none;
}

.landing-container-form button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 1rem;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

.landing-container-form button:hover {
  background-color: #0056b3;
}